/* Navbar.css */
.navbar {
  background-color: #3bb19b; /* Midnight Blue */
  color: #ecf0f1; /* Clouds */
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ecf0f1; /* Clouds */
  transition: color 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ecf0f1; /* Clouds */
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3498db; /* Peter River */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #3498db; /* Peter River */
}

.nav-links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
